<aside id="sidebar" [ngClass]="{ 'hidden': isSidebarHidden }" class="js-sidebar">
    <div class="h-100">
      <!-- Sidebar Logo -->
      <div class="sidebar-logo">
        <a href="#">Dashboard-Admin</a>
      </div>
      
      <!-- Navigation List -->
      <ul class="sidebar-nav">
        <!-- Iterate through NAVIGATION_ITEMS -->
        <li *ngFor="let item of navigationItems" class="sidebar-item">
          <!-- Sidebar Item without children -->
          <a [routerLink]="item.route" class="sidebar-link" *ngIf="!item.children">
            <i [class]="item.icon + ' pe-2'"></i> {{ item.title }}
          </a>
  
          <!-- Sidebar Item with children -->
          <div *ngIf="item.children" class="has-children">
            <a href="#" class="sidebar-link">
              <i [class]="item.icon + ' pe-2'"></i> {{ item.title }}
            </a>
            <ul class="sidebar-subnav">
              <li *ngFor="let child of item.children">
                <a [routerLink]="child.route" class="sidebar-link">
                  <i [class]="child.icon + ' pe-2'"></i> {{ child.title }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  


