@import '../../../styles/settings/variables';
@import '../../../styles/settings/mixins';
@import '../../../styles/settings/typography';

.wrapper {
  @include flex(row);
  align-items: stretch;
  width: 100%;
  background: $first-color;
  overflow-y: scroll;
  opacity: 1;
}

.main {
  @include flex(column);
  min-height: 100vh;
  width: 100%;
  @include transition(all, 0.35s);
  background: $first-color;

  .content {
    flex: 1;
    max-width: 100vw;
    padding: $spacing-unit;
    box-shadow: $box-shadow-base;
    border-radius: 10px;
    // border: 2px solid $second-color;
    background: $white-color;

    @media (min-width: 768px) {
      max-width: auto;
      width: auto;
    }
  }

  .card {
    @include box-shadow(1);
    margin-bottom: $spacing-unit * 1.5;

    &.illustration {
      background-color: $second-color;
      color: $white-color;

      .illustration-img {
        max-width: 150px;
        width: 100%;
      }
    }

    &.illustration-2 {
      background-color: $third-color;
      color: $white-color;
    }
  }

  .footer {
    background-color: $first-color;
    color: $black;
  }
}

