nav.navbar {
  @include flex(row);
  align-items: center;
  justify-content: space-between;
  // background-color: $second-color;
  padding: $spacing-unit * 1.5;
  border-bottom: 1px solid $gray-light;

  .btn-toggle {
    @include flex(center);
    width: 40px;
    height: 40px;
    background-color: $third-color;
    color: $white-color;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($third-color, 10%);
    }

    .navbar-toggler-icon {
      width: 24px;
      height: 24px;
    }
  }

  .navbar-collapse {
    @include flex(row);
    align-items: center;
    width: auto;

    .navbar-nav {
      margin-left: auto;
    }
  }  
}
