// Couleurs de la palette pour Cinephoria
$first-color: #f1f2f7; // 60% (Couleur principale utilisée pour le fond général)
$second-color: #096c47;
$third-color: #eac100;

// Autres couleurs
$white-color: #ffffff;
$black: #000000;
$gray-light: #ebe4e4;
$gray-dark: #333333;
$dark-color: #343a40;

// Espacements
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-unit: 1rem;

// Typographie
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Ombres et bordures
$border-radius: 4px;
$box-shadow-base: 0 4px 6px rgba(0, 0, 0, 0.1);
